div {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

mat-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 500px;
    margin: 20px 15px;
    align-items: center;

    .image-container {
        width: 500px;
        height: 500px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .spacer {
        flex: 1 1 auto;
    }

    button {
        margin-top: 15px;
    }
}